*.swp
*.asv
*.tif
python-cropper-tk/
ogcroptk.py
tkinterplay.py
*.zip
*.json
*.jpg
*.csv
*.pyc
*.png
*.tiff
*.pyc
ConvexiPy/__pycache__/rect.cpython-38.pyc
test.py

# get reinstated later maybe
*cropbase.py
todo.md